 
ol {
    counter-reset: li;
    /* resto del estilo para ol */
  }

 /* Estilo para el título */
h1 {
    color: blue;
    font-size: 36px;
    text-align: center;
  }

h2 {
    color: green;
    font-size: 30px;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
  }
 
  /* Separar los nombres de las recetas y poner un cuadrito en la página principal */
.grid a {
    border: 1px solid black;
    padding: 10px;
  }
  
.grid {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
  }

  
/* Estilo para el texto */
p {
    font-size: 18px;
    line-height: 1.5;
  }
  

  /* Alinear texto de las páginas de recetas*/
  .center {
    text-align: center;
  }


ul, ol {
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0;
    padding: 0 20px;
    text-align: center;
    height: auto;
  }
  
li {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    padding: 0 0px; 
  }

  ol > li {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    padding: 0 0px;
  }

 /* Listas No Ordenadas*/
  ul {
    list-style: none;
    margin: 0 auto;
    text-align: center;
  }
  
  ul > li {
    display: inline-block;
    margin: 0 10px;
  }
  
  ul > li:before {
    content: '•';
    margin-right: 10px;
  }
  

   /* Listas no ordenadas*/
  ol {
    list-style: none;
    margin: 0 auto;
    text-align: center;
  }
  
  ol > li:before {
    content: counter(li);
    counter-increment: li;
    margin-right: 10px;
  }
  
  ul li {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    padding: 0 0px; 
  }

ol > li {
    display: block;
    margin: 10px 0;
    text-align: center;
    line-height: 1.5;
    padding: 0 0px;
  }